:root {
  --main-background-color: #ffffff;
  --secondery-background-color: #2f303a;
  --hover-color: #2196f3;
  --paragraphs-color: #212121;
  --text-color: #757575;
  --header-logo-color: #000000;
  --team-background-color: #f5f4fa;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --portfolio-button-background-color: #f5f4fa;
}
/* Reset */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  outline: solid 1px red;
}

/* Прихований заголовок */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: 'roboto', sans-serif;
  background-color: var(--main-background-color);
}

/* Header */
.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--hover-color);
}

.header-logo {
  color: var(--header-logo-color);
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--paragraphs-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--hover-color);
}

.current {
  color: var(--hover-color);
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--text-color);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--hover-color);
}
/* Hero */
.hero {
  text-align: center;
  background-color: var(--secondery-background-color);
}

.hero-title {
  margin-bottom: 30px;
  width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--main-background-color);
}

.hero-btn {
  border-radius: 4px;
  padding: 10px 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  letter-spacing: 0.06em;
  border-style: none;
  cursor: pointer;

  color: var(--main-background-color);
  background-color: var(--hover-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}
/* Benefits */
.benefits-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--paragraphs-color);
}

.benefits-text {
  width: 270px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--text-color);
}
/* Work */
.work-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--paragraphs-color);
}
/* Team */
.team {
  background-color: var(--team-background-color);
}

.team-item {  
  width: 270px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-background-color);
}

.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--paragraphs-color);
}

.text-div {
  padding-top: 30px;
  padding-bottom: 30px;

  text-align: center;
}

.text-title {
  margin-bottom: 10px;
  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--paragraphs-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--text-color);
}
/* Footer */
.footer {
  background-color: var(--secondery-background-color);
}

.footer-logo {
  color: var(--main-background-color);
}

.footer-pagging {
  padding-top: 60px;
  padding-bottom: 60px;
}

.description-logo {
  margin-bottom: 20px;
}

.footer-list {
  font-style: normal;
}

.google-map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-background-color);
}
.google-map:hover,
.google-map:focus {
  background-color: var(--hover-color);
}

.map {
  margin-bottom: 9px;
}

.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--footer-contact-color);
}
.footer-link:hover,
.footer-link:focus {
  background-color: var(--hover-color);
}
/* Portfolio-btn */
.portfolio-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border-style: none;
  cursor: pointer;

  color: var(--paragraphs-color);
  background-color: var(--portfolio-button-background-color);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--main-background-color);
  background-color: var(--hover-color);
}
/* Filtr-title */
.filtr-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--paragraphs-color);
}

.filtr-text {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;

  color: var(--text-color);
}
